*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}
.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 400px;
    overflow: hidden;
    
}
.container .kithen_header{
    display: flex;
    width: 100%;
    margin-top: 1rem; 
    
}
.container  h2{
  text-align: center;
 
  font-size: 2rem;
}
.container .kithen_header .kithenInput{
    flex: 1;
    border: 1px solid red;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 1rem 1.75rem;
}
 a.button{
    display: inline-block;
    text-decoration: none;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem .7rem;
    cursor: pointer;
    transition: all ease 0.3s;
    resize: none;
}
a.button:focus{
    background-color: black;
    color: white;
}
a.createdBy{
    margin-top: 2rem;
    background-color: black;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
    animation: slidetop 0.3s
}

.kitchen_list li{
    background-color:black;
    color: white;
    width:100%;
    margin-top: 1rem;
    padding: .6rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    animation: slide 0.4s;
    border-radius: .2rem;
}
.box{
    background-color:red;
    color: white;
    text-align: center;
    width:100%;
    font-size: 1rem;
    height:100px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border: 1px solid red;
    animation: slidetop 0.4s;
}
@media  screen and (max-width:300px) {
    .box{
        font-size: .7rem;
    }
}
.box.active{
    display: flex;
}
@keyframes slidetop {
    from{
        opacity: 0;
        transform: translateY(-50px);
        height: 20px;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.container .box {
    text-transform: capitalize;
}
.container .box i{
    font-size:2rem ;
    color:yellow;
}
.owner{
    background-color: white;
    width: 100%;
    padding: 2.3rem 2.2rem;
    text-align: center;
    display: none;
    row-gap: 1rem;
    margin-top: 2rem;
    box-shadow: -9px 7px 13px -1px rgba(0,0,0,0.75);
    animation:slidetop 0.4s;
}
.owner.ow{
    display: grid;
}

@keyframes slide{
    from{
        opacity: 0;
        transform: rotate(10deg) translate(-10px);
    }
    to{
        opacity: 1;
        transform: rotate(0) translate(0);
    }
}
.slideout{
    transform: rotate(10deg) translate(-10px);
    opacity: 0;
    transition: 1s ease-out;
}
.kitchen_list li i{
    font-size: 1.15rem;
    transition: .3s;
}
.kitchen_list li i:hover{
    color: red;
}